
<link rel="stylesheet" href="assets/css/StyleLogin.css">
<br>
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <!--<img id="profile-img" class="profile-img-card" src="img/avatar_2x.png" />-->

        <p class="profile-img-card font-weight-bold text-dark" style="font-size: 18px;">Inscription</p>


        <form class="form-signin" [formGroup]="addForm">

            <input type="text" id="inputNom" class="form-control" name="nom" formControlName="nom" placeholder="Nom" required autofocus>
            <label class="label-input" *ngIf="IsFiled && f.nom.errors" class="cross-validation-error-message alert alert-danger">* ( Entrer votre Nom )</label>
            <!-- <div *ngIf="IsFiled && addForm.get('nom').hasError('required') || addForm.get('nom').touched" class="cross-validation-error-message alert alert-danger">
              Entrer votre Nom
            </div> -->

            <div *ngIf="f.nom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
              Max 20
            </div>

            <input type="text" id="inputNom" class="form-control" name="prenom" formControlName="prenom" placeholder="Prenom" required>

            <div *ngIf="IsFiled && f.prenom.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Prenom
            </div>

            <div *ngIf="f.prenom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
              Max 20
            </div>

            <input type="email" id="inputEmail" class="form-control" name="email" formControlName="email" placeholder="Email address" required>

            <div *ngIf="IsFiled && f.email.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Email
            </div>

            <div *ngIf="f.email.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
              Max 30
            </div>

            <input type="password" id="inputPassword" class="form-control" name="password" formControlName="password" placeholder="Password" required>

            <div *ngIf="IsFiled && f.password.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Password
            </div>

            <div *ngIf="f.password.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
              Max 20
            </div>

            <input type="password" id="inputPassword" class="form-control" placeholder="Confirmer Password" required>

            <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="onSubmit()">Inscrire</button>
        </form><!-- /form -->
        <a routerLink="/login" class="forgot-password">
            Login
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<br>

<script src="assets/js/JSLogin.js"></script>
