
<!--/col-->
<div class="col-md-8 offset-md-2 text-black-50 mb-5">
  <span class="anchor" id="formUserEdit"></span>
  <hr class="">

  <!-- form user info -->
  <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0">Modification Film</h3>
      </div>
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" class="form-signin" [formGroup]="addForm">
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Titre Film</label>
                  <div class="col-lg-9">
                      <input type="text" id="inputNom" class="form-control" name="titre_film" formControlName="titre_film" placeholder="Titre Film" required autofocus>
                      <label class="label-input" *ngIf="IsFiled && f.titre_film.errors" class="cross-validation-error-message alert alert-danger">* ( Entrer votre Titre Film )</label>
                      <div *ngIf="f.titre_film.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                          Max 20
                        </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Pseudo</label>
                  <div class="col-lg-9">
                      <input type="text" id="inputNom" class="form-control" name="pseudo" formControlName="pseudo" placeholder="Pseudo" required>

                      <div *ngIf="IsFiled && f.pseudo.errors" class="cross-validation-error-message alert alert-danger">
                        Entrer votre Pseudo
                      </div>

                      <div *ngIf="f.pseudo.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                        Max 20
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Lien Film</label>
                  <div class="col-lg-9">
                      <input type="text" id="inputEmail" class="form-control" name="lien_film" formControlName="lien_film" placeholder="Lien Film" required>

                      <div *ngIf="IsFiled && f.lien_film.errors" class="cross-validation-error-message alert alert-danger">
                        Entrer votre Lien Film
                      </div>

                      <div *ngIf="f.lien_film.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                        Max 30
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Description</label>
                  <div class="col-lg-9">
                      <textarea type="text" id="inputPassword" class="form-control" name="description" formControlName="description" placeholder="Description" required></textarea>

                      <div *ngIf="IsFiled && f.description.errors" class="cross-validation-error-message alert alert-danger">
                        Entrer votre Description
                      </div>

                      <div *ngIf="f.description.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                        Max 20
                      </div>
                  </div>
              </div>


              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Categorie Film</label>
                <div class="col-lg-9">
                    <select id="user_time_zone" class="form-control" size="0" name="id_categorie" formControlName="id_categorie">
                        <option value="" selected="select">Choisir Categorie...</option>
                        <option *ngFor="let cat of categorie" value="{{cat.id}}" class="font-weight-bold">{{ cat.libelle }}</option>
                    </select>
                    <div *ngIf="addForm.controls['id_categorie'].hasError('required') && addForm.get('id_categorie').touched" class="alert alert-danger">
                        S'il vous plaît choisir categorie de film
                    </div>

                </div>
            </div>


              <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                      <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                      <input type="button" class="btn btn-danger" value="Modifier" (click)="onSubmit()">
                  </div>
              </div>
          </form>
      </div>
  </div>
  <!-- /form user info -->



