




<div class="form-inline mt-5 d-flex justify-content-end" style="background-color: darkgray;">
  <div class="form-group">

    <input type="text" [(ngModel)]="nom" class="form-control mt-2 mb-2 mr-5" (input)="search()" id="input" autofocus placeholder="Recherche Par Nom...">
  </div>
</div>


            <div class="table-responsive-sm" *ngIf="users.length > 0">

            <table class="table table-bordered table-hover table-dark">
                <thead>
                  <tr>

                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- | paginate: config -->
                  <tr *ngFor="let utilisateur of users | paginate: {itemsPerPage: 3, currentPage: p}">

                    <td>{{utilisateur.nom}}</td>
                    <td>{{utilisateur.prenom}}</td>
                    <td>{{utilisateur.email}}</td>
                    <td>
                      <label class="switch ml-2">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger ml-2" style="width: 50px;" (click)="delete(utilisateur)"><i class="fas fa-trash-alt"></i></button>
                        <button type="button" class="btn btn-outline-success ml-2" style="width: 50px;" [routerLink]="['/edit', utilisateur.id]"><i class="fas fa-pencil-alt"></i></button>

                    </td>
                  </tr>

                </tbody>
              </table>

            </div>

            <div class="alert alert-primary mt-5 text-center font-weight-bold" role="alert" *ngIf="!(users.length > 0)">
              data vide
            </div>

            <div class="form-inline" style="background-color: darkgray;">
              <pagination-controls

                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         [responsive]="responsive"
                         [previousLabel]="labels.previousLabel"
                         [nextLabel]="labels.nextLabel"
                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
              (pageChange)="p = $event"></pagination-controls
                >
            </div>





