
<link rel="stylesheet" href="assets/css/StyleLogin.css">
<br>
<div class="container">
    <div class="card bg-dark card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <!--<img id="profile-img" class="profile-img-card" src="img/avatar_2x.png" />-->

        <p class="profile-img-card font-weight-bold text-light" style="font-size: 18px;">Inscription</p>


        <form class="form-signin" [formGroup]="addForm">

            <input type="text" id="inputNom" class="form-control" name="nom" formControlName="nom" [ngClass]="{ 'is-invalid': IsFiled && f.nom.errors }" placeholder="Nom" required autofocus>
            <div *ngIf="IsFiled && f.nom.errors" class="invalid-feedback">
            <div *ngIf="f.nom.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Nom
            </div>
            <div *ngIf="f.nom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                Max 20
              </div>
            </div>
            <input type="text" id="inputNom" class="form-control" name="prenom" formControlName="prenom" [ngClass]="{ 'is-invalid': IsFiled && f.prenom.errors }" placeholder="Prenom" required>
            <div *ngIf="IsFiled && f.prenom.errors" class="invalid-feedback">
            <div *ngIf="f.prenom.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Prenom
            </div>
            <div *ngIf="f.prenom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                Max 20
              </div>
            </div>
            <input type="email" id="inputEmail" class="form-control" name="email" formControlName="email" [ngClass]="{ 'is-invalid': IsFiled && f.email.errors }" placeholder="Email address" required>
            <div *ngIf="IsFiled && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Email
            </div>
            <div *ngIf="f.email.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                Max 30
              </div>
              </div>

            <input type="password" id="inputPassword" class="form-control" name="password" [ngClass]="{ 'is-invalid': IsFiled && f.password.errors }" formControlName="password" placeholder="Mode Passe" required>
            <div *ngIf="IsFiled && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors" class="cross-validation-error-message alert alert-danger">
              Entrer votre Mode Passe
            </div>
            <div *ngIf="f.password.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                Max 20
              </div>
              </div>

            <input type="password" id="inputPassword" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': IsFiled && f.confirmPassword.errors }" placeholder="Confirmer Mode Passe" required>
            <div *ngIf="IsFiled && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required" class="cross-validation-error-message alert alert-danger">Confirm votre mode passe s'il vous plaît</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch" class="cross-validation-error-message alert alert-danger">Mode passe inccorecte</div>
          </div>

            <button class="btn btn-danger" (click)="onSubmit()">Inscrire</button>
        </form><!-- /form -->
        <a routerLink="/login" class="forgot-password">
            Login
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<br>

<script src="assets/js/JSLogin.js"></script>
