

<div class="card bg-dark mt-5">
<div class="row mt-3 p-5">
  <div class="col-md-8">
    <h4>Commantaire</h4>
   <span style="float: left;">
    <p class="font-weight-bold" style="color: #dc3545;">Texte Commantaire : </p>
  </span>

    <p>{{commantaires.text_commantaire}}</p>
  </div>
  <div class="col-6 col-md-4">
    <h4>Information d'un utilisateur</h4>
    <span style="float: left;">
      <p class="font-weight-bold" style="color: #dc3545;">Nom : </p>
    </span>

  <p>{{commantaires.nom}}</p>

  <div style="float: left;">
      <p class="font-weight-bold" style="color: #dc3545;">Prenom : </p>
    </div>
  <p>{{commantaires.prenom}}</p>

  <div style="float: left;">
      <p class="font-weight-bold" style="color: #dc3545;">Email : </p>
    </div>
  <p>{{commantaires.email}}</p>
  </div>
</div>
</div>

