
            <div class="table-responsive-sm">
                <table class="table table-bordered table-hover table-dark mt-5">
                    <thead>
                      <tr>

                        <th scope="col">Titre Film</th>
                        <th scope="col">Lien Film</th>
                        <th scope="col">Pseudo Film</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let fil of film">

                        <td>{{fil.titre_film}}</td>
                        <td><iframe src="{{fil.lien_film}}"></iframe></td>
                        <td>{{fil.pseudo}}</td>
                        <td>{{fil.description}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-outline-success ml-3"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>

                <div class="alert alert-primary mt-5 text-center font-weight-bold" role="alert">
                  data vide
                </div>





