<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" style="background-color: #dc3545;" id="sidebar-wrapper">
      <div class="sidebar-heading text-light font-weight-bolder">Start Bootstrap </div>
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Dashboard</a>
        <a class="nav-link dropdown-toggle font-weight-bold list-group-item list-group-item-action bg-danger text-light font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Film
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AjouterFilm">Ajouter Film</a>
                <a class="dropdown-item" href="/listFilms">Listes Films</a>
              </div>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Status</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #dc3545;">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link font-weight-bold" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/login">Connecter</a>
                <a class="dropdown-item" routerLink="/Register">Inscrire</a>
                
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid text-light">
      <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  