
            <div class="table-responsive-sm">
                <table class="table table-bordered table-hover table-dark mt-5">
                    <thead>
                      <tr>


                        <th scope="col">Libelle</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let categorie of categories">

                        <td>{{categorie.libelle}}</td>



                        <td>
                            <button type="button" class="btn btn-outline-danger " style="width: 50px;" (click)="delete(categorie)" ><i class="fas fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-outline-success ml-2" style="width: 50px;" [routerLink]="['/editCategorie', categorie.id]" routerLinkActive="router-link-active" ><i class="fas fa-pencil-alt"></i></button>




                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>

                <!-- <div class="alert alert-primary mt-5 text-center font-weight-bold" role="alert" *ngIf="!(film.length > 0)">
                  data vide
                </div> -->





