
            <div class="form-inline mt-5 d-flex justify-content-end" style="background-color: darkgray;">
              <div class="form-group">

                <input type="text" [(ngModel)]="libelle" class="form-control mt-2 mb-2 mr-5" (input)="search()" id="input" autofocus placeholder="Recherche Par Categorie...">
              </div>
            </div>

            <div class="table-responsive-sm" *ngIf="categories.length > 0">
                <table class="table table-bordered table-hover table-dark">
                    <thead>
                      <tr>


                        <th scope="col">Libelle</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let categorie of categories | paginate: {itemsPerPage: 3, currentPage: p}">

                        <td>{{categorie.libelle}}</td>



                        <td>
                            <button type="button" class="btn btn-outline-danger " style="width: 50px;" (click)="delete(categorie)" ><i class="fas fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-outline-success ml-2" style="width: 50px;" [routerLink]="['/editCategorie', categorie.id]" routerLinkActive="router-link-active" ><i class="fas fa-pencil-alt"></i></button>




                        </td>
                      </tr>

                    </tbody>
                  </table>

                </div>

                <div class="alert alert-primary mt-5 text-center font-weight-bold" role="alert" *ngIf="!(categories.length > 0)">
                  data vide
                </div>


                <div class="form-inline" class="mb-5" style="background-color: darkgray;">
                  <pagination-controls

                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                  (pageChange)="p = $event"></pagination-controls>
                </div>





