
<!--/col-->
<div class="col-md-8 offset-md-2 text-black-50">
    <span class="anchor" id="formUserEdit"></span>
    <hr class="">

    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Modification User</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" class="form-signin" [formGroup]="addForm">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Nom</label>
                    <div class="col-lg-9">
                        <input type="text" id="inputNom" class="form-control" name="nom" formControlName="nom" placeholder="Nom" required autofocus>
                        <label class="label-input" *ngIf="IsFiled && f.nom.errors" class="cross-validation-error-message alert alert-danger">* ( Entrer votre Nom )</label>
                        <div *ngIf="f.nom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                            Max 20
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Prenom</label>
                    <div class="col-lg-9">
                        <input type="text" id="inputNom" class="form-control" name="prenom" formControlName="prenom" placeholder="Prenom" required>

                        <div *ngIf="IsFiled && f.prenom.errors" class="cross-validation-error-message alert alert-danger">
                          Entrer votre Prenom
                        </div>

                        <div *ngIf="f.prenom.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                          Max 20
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="email" id="inputEmail" class="form-control" name="email" formControlName="email" placeholder="Email address" required>

                        <div *ngIf="IsFiled && f.email.errors" class="cross-validation-error-message alert alert-danger">
                          Entrer votre Email
                        </div>

                        <div *ngIf="f.email.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                          Max 30
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Mode Passe</label>
                    <div class="col-lg-9">
                        <input type="text" id="inputPassword" class="form-control" name="password" formControlName="password" placeholder="Password" required>

                        <div *ngIf="IsFiled && f.password.errors" class="cross-validation-error-message alert alert-danger">
                          Entrer votre Password
                        </div>

                        <div *ngIf="f.password.hasError('maxlength')" class="cross-validation-error-message alert alert-danger">
                          Max 20
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                        <input type="button" class="btn btn-danger" value="Modifier" (click)="onSubmit()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /form user info -->


    <script>
            // validation example for Login form
          $("#btnLogin").click(function(event) {

              var form = $("#loginForm");

              if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }

              // if validation passed form
              // would post to the server here

              form.addClass('was-validated');
          });
            </script>

