<div class="row no-gutters bg-dark position-relative mt-5 mb-5">
  <div class="col-md-6 mb-md-0 p-md-4 embed-responsive embed-responsive-16by9">

                <iframe
                  class="fullScreen w-100"
                  height="100%"
                  [src]="film.lien_film | safePipe"
                  frameborder="0"
                  scrolling="yes"
                  allowfullscreen>
                </iframe>

  </div>

    <div class="col-sm position-static p-4 pl-md-0">
      <h5>Information Film</h5>

    <span style="float: left;">
      <p class="font-weight-bold" style="color: #dc3545;">Titre Film : </p>
    </span>

      <p>{{film.titre_film}}</p>

    <span style="float: left;">
      <p class="font-weight-bold" style="color: #dc3545;">Pseudo : </p>
    </span>

      <p>{{film.pseudo}}</p>

      <span style="float: left;">
        <p class="font-weight-bold" style="color: #dc3545;">Categorie : </p>
      </span>

    <p>{{film.libelle}}</p>

    <div style="float: left;">
        <p class="font-weight-bold" style="color: #dc3545;">Description : </p>
      </div>
    <p>{{film.description}}</p>

    </div>


</div>
