<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="" style="background-color: #dc3545;" id="sidebar-wrapper">
    <div class="sidebar-heading text-light font-weight-bolder">AdminMovieFilm </div>
    <div class="list-group list-group-flush">
      <a routerLink="/accueil/" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Dashboard</a>
      <a class="dropdown-toggle list-group-item list-group-item-action bg-danger text-light font-weight-bold" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
              Films
            </a>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
              <a class="dropdown-item" routerLink="/accueil/AjouterFilm">Ajouter Film</a>
              <a class="dropdown-item" routerLink="/accueil/listFilms">Listes Films</a>
            </div>
            </div>

            <a class="dropdown-toggle list-group-item list-group-item-action bg-danger text-light font-weight-bold" data-toggle="collapse" href="#multiCollapseExample11" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
              Utilisateurs
            </a>
            <div class="collapse multi-collapse" id="multiCollapseExample11">
              <div class="card card-body">
              <a class="dropdown-item" routerLink="/accueil/AjouterUser">Ajouter Utilisateur</a>
              <a class="dropdown-item" routerLink="/accueil/view">Listes Utilisateurs</a>
            </div>
            </div>
      <!-- <a routerLink="/accueil/view" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Utilisateurs</a> -->
      <a class="dropdown-toggle list-group-item list-group-item-action bg-danger text-light font-weight-bold" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
        Categotie
      </a>
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
        <a class="dropdown-item" [routerLink]="['/accueil/addCategorie']">Ajouter Categorie</a>
        <a class="dropdown-item" routerLink="/accueil/listCategorie">Listes Categorie</a>
      </div>
      </div>


      <a routerLink="/accueil/listCommantaire" class="list-group-item list-group-item-action bg-danger text-light font-weight-bold">Commantaire</a>


    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dc3545;">
      <button class="btn btn-outline-light" id="menu-toggle">Menu Vertical</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link font-weight-bold text-light list-group-item-action bg-danger" routerLink="/accueil/">Acceuil<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle font-weight-bold text-light list-group-item-action bg-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{email}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" *ngIf="token" (click)="logOut()">Deconnecter</a>

            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-light">

    <router-outlet></router-outlet>

  </div>

    <div class="" id="footer">
        <div class="card-body bg-danger text-light text-center">
          <b><a routerLink="/" class="text-light text-decoration-none">AdminMovieFilm</a></b> copyright © 2020
        </div>
      </div>

  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
