
<link rel="stylesheet" href="assets/css/StyleLogin.css">
<br>
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <!--<img id="profile-img" class="profile-img-card" src="img/avatar_2x.png" />-->

        <p class="profile-img-card font-weight-bold text-dark" style="font-size: 18px;">Inscription</p>
        
        
        <form class="form-signin">
            
            <input type="text" id="inputNom" class="form-control" placeholder="Nom" required autofocus>

            <input type="text" id="inputNom" class="form-control" placeholder="Prenom" required>

            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>

            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="password" id="inputPassword" class="form-control" placeholder="Confirmer Password" required>
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Inscrire</button>
        </form><!-- /form -->
        <a routerLink="/login" class="forgot-password">
            Login
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<br>

<script src="assets/js/JSLogin.js"></script>
